/*********************************
COLORS
*********************************/
$main-text-color: #ffffff;
$primary-title-color: #ffffff;
$primary-text-color: #8796AE;
$primary-background: #EAEFF5;
$secondary-title-color: #233148;
$secondary-text-color: #233148;
$secondary-background: #233148;
$primary-btn-bg:#FCCF18;